/* Container for the candidates list page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #920c5a;
    min-height: 100vh;
  }
  
  /* Title for the candidates list page */
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Styles for the candidate cards */
  .candidateCard {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  /* Message for when no candidates are found */
  .noCandidatesMessage {
    font-size: 1.25rem;
    color: #666;
  }